<div class="embed-container">
    <iframe width="640" height="390" 
    src="https://www.youtube.com/embed/{{ include.id }}" 
    frameborder="0" allowfullscreen></iframe>
  <iframe width="100%" height="394" src="https://musescore.com/user/36979176/scores/{{ include.id }}/embed" frameborder="0" allowfullscreen allow="autoplay; fullscreen"></iframe>
  <span><a href="https://musescore.com/user/36979176/scores/{{ include.id }}/s/WXlyO5" target="_blank">MuseScore</a></span>
</div>
<style>
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>
